@charset "UTF-8";

// Référence du site à copier
// https://www.frontendpractice.com/projects/monstercat

// vrai site
// https://www.monstercat.com/release/MCLP017

//lien du repo github
//Celui a cloner: https://github.com/Jpcote14/CoteJp_RPNI_TP1.git
//Pour avoir acces au repo: https://github.com/Jpcote14/CoteJp_RPNI_TP1

/* Importation des polices au tout début! */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Boutons
 */

/* Normalize
   ========================================================================== */
@import "_normalize";

/* Utilitaires
      ========================================================================== */
@import "_utilitaires";

/* Charte typographique
      ========================================================================== */
@import "_typo";

/* Menu
      ========================================================================== */
@import "_menu";

/* Grille
      ========================================================================== */
@import "_grille";

* {
  list-style: none;
  color: #fdfdfd;
  font-family: "Open Sans", sans-serif;
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV0ewJER.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.row {
  display: flex;
  width: 100%;
}

// background image

.background-page {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-image: url(url("https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover%3F2ee434f2-4499-4c30-a937-4aec2b4ac1fc&width=1024"));
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-x: hidden;
  margin: 0;
  left: 0;
  overflow: hidden;
}

.background-page {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-image: url(../images/bg.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow-x: hidden;
  margin: 0;
  left: 0;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top;
}

.background-img {
  width: 102%;
  height: 100vh;
  position: relative;
  top: -1%;
  left: -1%;
  background-position: center;
  background-size: cover;
  filter: blur(10px) brightness(50%);
  z-index: -1;
  background-image: url(../images/bg.jpg);
}

body {
  background-color: black;
  background-image: url(https://cdn.monstercat.com/background-tile.webp);
  background-repeat: repeat;
  background-attachment: scroll;
  overflow-x: hidden;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
}

@media (min-width: 532px) {
  header {
    width: 100%;
    position: fixed;
  }
}

.menu-sticky {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px 0px 15px;
  background-color: rgb(0, 0, 0, 0.8);
}

@media (min-width: 1179px) {
  .menu-sticky {
    padding: 30px 74px 0 75px;
    background-color: transparent;
  }
}

.logo-img {
  width: 35px;
  height: 35px;
}
@media (min-width: 532px) {
  .logo-img {
    width: 50px;
    height: 50px;
  }
}

.section-droite {
  display: none;
}

@media (min-width: 532px) and (max-width: 1179px) {
  .section-droite {
    display: none;
  }
}

@media (min-width: 1180px) {
  .section-droite {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.reseaux-sociaux_mobile {
  display: none;
  padding: 0;
}

@media (min-width: 532px) {
  .reseaux-sociaux_mobile {
    display: flex;
    padding: 0;
  }
}

@media (min-width: 1180px) {
  .reseaux-sociaux_mobile {
    display: none;
  }
  .reseaux-sociaux_desktop {
    display: flex;
    flex-direction: column;
    order: 3;
    padding: 0;
  }
}
.menu-icon_mobile {
  width: 40px;
  height: 40px;
  order: 50;
}

@media (min-width: 1180px) {
  .menu-icon_mobile {
    display: none;
  }
}

.menu-icon_desktop {
  width: 40px;
  height: 40px;
  display: none;
}

@media (min-width: 1180px) {
  .menu-icon_desktop {
    width: 40px;
    height: 40px;
    display: block;
  }
}

.svg-icon {
  padding-left: 4px;
  padding-right: 4px;
}

// main

main {
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

@media (min-width: 532px) {
  main {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media (min-width: 1180px) {
  main {
    padding-left: 12%;
    padding-right: 12%;
  }
}

h2 {
  font-size: 35px;
}

@media (min-width: 532px) {
  h2 {
    font-size: 45px;
  }
}

.section-info {
  padding-top: 120px;
  margin-bottom: 75px;
}

@media (min-width: 1180px) {
  .section-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .section_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1180px) {
  .album {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
}

.info-album {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1180px) {
  .info-album {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
  .image-album {
    order: 2;
  }
}

.image-album {
  width: 100%;
  max-width: 500px;
}

@media (min-width: 532px) {
  .image-album {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1180px) {
  .image-album {
    max-width: 75%;
  }
}

.nom-album {
  font-size: 14px;
  margin-top: 50px;
}

@media (min-width: 1179px) {
  .nom-album {
    rotate: 180deg;
    writing-mode: vertical-lr;
  }
  .nom-album {
    font-size: 16px;
  }
}

.nom-album-color {
  color: #50a584;
  font-style: italic;
}

.album {
  font-size: 22px;
}
.artiste {
  font-size: 16px;
}

@media (min-width: 1180px) {
  .album {
    font-size: 48px;
    margin-bottom: 0;
  }
  .artiste {
    margin-top: 0;
    font-size: 36px;
  }
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #50a584;
  padding: 10px 30px 10px 30px;
}

.btn-secondaire {
  background-color: transparent;
  border: white solid 1px;
  margin-left: 5px;
}

.texte-btn {
  width: 100%;
}

.img-btn {
  width: 12px;
  margin-right: 5px;
}

.conteneur-stream {
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
}

.icon-texte {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  border: #fdfdfd solid 1px;
  padding: 12px 12px 12px 12px;
}

.stream-now_texte {
  display: none;
}

@media (min-width: 1180px) {
  .stream-now_texte {
    display: contents;
    margin: 0;
    padding-left: 5px;
  }
}

.stream_icon {
  min-width: 48px;
  min-height: 48px;
  border: #fdfdfd solid 1px;
  padding: 12px 12px 12px 12px;
}

//impossible de comprendre pourquoi les img sont déformées
@media (min-width: 1180px) {
  .stream_icon,
  .icon-texte {
    padding: 24px;
  }
}

//tableau track list
// .section_liste-chansons {
// }

table {
  width: 100%;
}

td {
  padding-bottom: 15px;
}

.chanson-artiste {
  width: 60%;
}

@media (min-width: 1180px) {
  .chanson-artiste {
    width: 80%;
  }
}

.chanson-artiste,
.track_artiste,
.track_chanson {
  margin: 0;
}

.play-icon {
  min-width: 24px;
  margin: 0;
}

.track_chanson {
  font-size: 18px;
  font-weight: 600;
}

.track_artiste {
  font-size: 14px;
}

.minutes {
  font-size: 18px;
}

.share-icon {
  width: 24px;
}

.numero-track {
  font-size: 18px;
}

.conteneur_iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  position: relative;
}

.conteneur_iframe > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

iframe {
  width: 100%;
}

.hr_main {
  margin-top: 120px;
}

//footer

footer {
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

@media (min-width: 532px) {
  footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media (min-width: 1180px) {
  footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}

ul {
  padding: 0;
}
.footer_nav {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 35% 0.5fr auto;
}

@media (min-width: 1180px) {
  .footer_nav {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1179px) {
  .grid-1 {
    margin-bottom: 0;
  }
  .grid-2 {
    margin-top: 0;
  }
}

footer a {
  font-size: 16px;
  font-weight: 1000;
}

footer a:hover {
  color: goldenrod;
}

.nouvelles {
  color: #898888;
  font-size: 16px;
  font-weight: 1000;
  margin-top: 30px;
}

@media (min-width: 1180px) {
  .nouvelles {
    margin-top: 16px;
  }
}

.italic {
  font-style: italic;
  color: #f1f1f1;
  font-size: 14px;
  letter-spacing: 1.5px;
}

@media (min-width: 1180px) {
  .italic,
  .nouvelles,
  footer a {
    font-size: 18px;
  }
}

input {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 20px;
  border: none;
  background-color: transparent;
  border-bottom: #999 1px solid;
}

input::placeholder {
  color: #999;
  font-size: 18px;
}

.hr_footer {
  margin-top: 60px;
}

.copyright_p {
  margin-top: 40px;
}

@media (min-width: 1180px) {
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .copyright_p {
    margin: 0px;
  }
}

.liste-reseaux {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reseaux-items {
  width: fit-content;
}

.footer-icon {
  margin-right: 15px;
}

@media (min-width: 1180px) {
  .footer-icon {
    margin-right: 10px;
  }
}

.footer_texte {
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 12px;
}
